html {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box; /* */
    font-size:16px;
}

body {
    margin: 0;
}


img {
    max-width: 300px;
    height: auto;
}
a:hover {
    color:rgb(119, 116, 116);
}
/* HEADER STYLING */
header {
    display:flex;
    width: 100%;
    max-height: 20%;
    background-color: #1F2937;
    align-items: center;
}

header h2 {
    flex: 1 1 auto;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding-left: 8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navContainer {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 10.6666667em;

    display:flex;
    gap: 2em;
}

 a {
    text-decoration: none;
}

.navContainer a:link{
    color: #E5E7EB;
}

.navContainer a:visited {
    color:#E5E7EB;
}

.navContainer a:hover {
    color:rgb(119, 116, 116);
}

/* MAIN CONTENT STYLING */ 

main {
    margin: 0;
}
.introContent {
    background-color: #1F2937;
    padding: 5em 12em;
    margin:0;
    height: 18em;
}
.introContent {
    color: #E5E7EB;
}
.introContent h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.introContent p {
    margin-right:1.5em;
}

.signupButton {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 2em 0;
    background-color:#3882F6;
    border-radius: 0.25em;
    font-weight: bold;
}

.signupButton:visited {
    color:rgb(243, 240, 240);
}

.signupButton:hover{
    color:rgb(209, 206, 206);
}
.introImage {
    max-height: 100%;
    height: auto;
    float: right;
    margin-left: 0.5em; 
}

.randomInfo h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    /* margin: 1em auto; */
    text-align: center;
    margin: 1em 0;
}

.randomImages {
    display:flex;
    gap: 2em;
    justify-content: center;
}


article {
    margin:2em 0;
    background-color: #E5E7EB;
}

.quote {
    max-width: 70%;
    margin: 0 auto;
    padding: 4em;
}
.quote > p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    display:block;
    text-align: end;
    font-weight: bold;
}

.bottomContainer {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 5em auto;
    border-radius: 12px;
    background-color:#3882F6;
    color:#E5E7EB;
} 

.bottomText {
padding-top: 1em;
padding-bottom: 1em;
}

.bottomButton {
    border-radius: 8px;
    border: 1px solid white;
    padding: 1em;
} 
.bottomButton a:link, .bottomButton a:visited {
    color: white;
}
.bottomButton a:hover {
    color: rgb(119, 116, 116);
}

footer {
    background-color:#1F2937;
    padding:1em 0;
    text-align: center;
    color: #E5E7EB;
}