html {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box; /* */
    font-size:16px;
}

body {
    margin: 0;
}


img {
    max-width: 300px;
    height: auto;
}

/* HEADER STYLING */
header {
    display:flex;
    width: 100%;
    max-height: 20%;
    background-color: #1F2937;
    align-items: center;
}

header h2 {
    flex: 1 1 auto;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding-left: 8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navContainer {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1 1 auto;
    padding-left: 14.5em;

    display:flex;
    gap: 2em;
}
 a {
    text-decoration: none;
}
.navContainer a:link{
    color: #E5E7EB;
}

.navContainer a:visited {
    color:#E5E7EB;
}

.navContainer a:hover {
    color:rgb(119, 116, 116);
}

/* MAIN CONTENT STYLING */ 

main {
    margin: 0;
}
.introContent {
    background-color: #1F2937;
    padding: 5em 12em;
    margin:0;
    height: 18em;
}
.introContent {
    color: #E5E7EB;
}
.introContent h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.introContent p {
    margin-right:1.5em;
}

.signupButton {
    padding: 0.5em 1em;
    margin: 2em 0;
    background-color:#3882F6;
    border-radius: 0.25em;
    font-weight: bold;
}

.introImage {
    max-width: 48%;
    height: auto;
    float: right;
    margin-left: 0.5em; 
}

.randomInfo h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    /* margin: 1em auto; */
    text-align: center;
    margin: 1em 0;
}

.randomImages {
    display:flex;
    gap: 2em;
    justify-content: center;
}

.randomImages div {
width: 100px;
}

article {
    /* width: 100%;*/ 
    background-color: #E5E7EB;
}

article > p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

article p:nth-child(2) {
    font-weight:bold;
}

